@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

body{
    margin: 0 auto;
    max-width: 1380px;
    font-family: "Roboto";
    background: linear-gradient(#272727, #373e46);
}

a{
    text-decoration: none;
    color: #fff;
}

h2{
    font-size: 2.25rem;
    color: #F69C00;
}

.container{
    width: 95%;
    margin: auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-works{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header{
    height: 80px;
}
.name{
    font-size: 2.5rem;
    line-height: 60px;
    font-family: "Dm Sans";
    font-weight: 600;
}

menu{
    display: flex;
}
menu li{
    margin: 0 25px;
    padding-top: 15px;
    height: 60px;
    text-align: center;
    list-style: none;
}
menu a{
    font-size: 1.25rem;
    line-height: 30px;
    text-decoration: none;
    color: #fff;
}
menu a:hover{
    color: #6d6d6d;
}

.about-me{
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-me .flex div{
    width: 45%;
}

.about-me p{
    color: #fff;
    font-size: 1.5rem;
}

.about-me img{
    width: 45%;
}

.item-skill{
    width: 16%;
    list-style: none;
}
.item-skill img{
    width: 70%;
    margin: 0 15%;
}
.item-skill p{
    text-align: center;
    font-size: 1.25rem;
    color: #F69C00;
}

.item-work{
    margin: 20px auto;
    width: 40%;
}

.item-work img{
    margin-bottom: 10px;
    width: 100%;
}
.item-work a{
    font-size: 1.3rem;
    color: #ffffff;
}
.item-work a:hover{
    color: #c3c3c3;
}

footer{
    margin-top: 30px;
    padding-top: 20px;
    height: 100px;
}

.copyright{
    font-size: 14px;
    color: #fff;
}