@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Ubuntu&display=swap');

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

.logo{
    margin-top: 20px;
}

form{
    margin: 50px 0 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 75px 50px 75px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 23px;
    gap: 10px;
}

h1{
    margin: 0 0 10px 0;
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
}

input{
    padding-left: 20px;
    height: 45px;
    width: 426px;
    background: rgba(49, 49, 49, 0.9);
    border: 0;
    border-radius: 8px;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    color:#757575;
}

form div{
    display: flex;
    align-items: center;
    gap: 5px;
}

button{
    margin: 35px 0;
    width: 142px;
    height: 48px;
    background-color: #E13C52;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    border: 0;
    border-radius: 60px;
    cursor: pointer;
}
button:hover{
    background-color: #a90f24;
}

form a{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    color: #838199;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
}
a:hover{
    color: #7c7c7c;
    text-decoration: underline;
}

input[type="checkbox"]{
    width: 19px;
    height: 19px;
    background-color: #303030;
}

label{
    font-family: 'Rubik', sans-serif;
    color: #8d8d8d;
}
label a{
    text-decoration: underline;
    color: #8d8d8d;
}

.linkBack{
    margin-bottom: 20px;
}


@media (max-width:666px) {

    form{
        width: 85%;
        padding: 20px 10px;
    }

    h1, a{
        font-size: 1.25rem;
    }

    input{
        width: 90%;
    }

    label, label a{
        font-size: 0.75rem;
    }

}

@media (max-width:350px) {

    input{
        font-size: 0.75rem;
    }

    button{
        font-size: 1.25rem;
    }

}
