body{
	margin: 0;
	padding: 0;
}

canvas{
	position: absolute;
	left: 0;
	right: 0;
}

#start{
	position: absolute;
	top: 63px;
	left: 23px;
	padding: 10px 29px;
	background: #e86101;
	color: #ffffff;
	border-radius: 5px;
	border: 2px solid #92825f;
	font-weight: bold;
	cursor: pointer;
}

#start:hover{background: #ec8c46;}

